/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header nav ul {
  display: inline;
}

header nav ul li.top-nav-section-break {
  margin-bottom: 30px;
}

header nav ul.top-nav-section {
  padding: 10px 20px;
}

li.join-tc a
 {
  color: orange;
  font-weight: bolder
}


header nav ul li {
  padding: 10px 20px;
}

header nav ul li a {
  text-decoration: none;
  color: rgb(118, 117, 117);
  font-size: 23px;
}

header nav ul img{
  width: 100px;
}

header {
  width: 15%;
  float: left;
  height: 1000px;
}

main {
  width: 42.5%;
  height: 1000px;
  float: left;
}

main h1 {
  font-size: 40px;
  font-weight: bolder;
  word-wrap: break-word;
  margin-top: 40px;
}

main span {
  float: left;
  font-weight: 600;
  margin-top: 25px;
}

main img {
  width: 95%;
  margin-top: 10px;
  margin-right: 80px;
}

main + section {
  width: 42.5%;
  float: left;
  height: 500px;
}

main + section article h2 {
  font-size: 30px;
  padding-bottom: 20px;
  width: 50%;
  font-weight: bolder;
}

main + section article span {
  color: rgb(46, 46, 46);
  font-size: 18px;
}

main + section article {
  padding: 2em 1em;
  height: 205px;
  border-bottom: 1px solid #ddd;
}






/******************************************
/* ADDITIONAL STYLES
/*******************************************/
